$clr-background: rgb(215, 246, 235);

$clr-primary: #476a2e;

$clr-primary-1: hsl(184, 91%, 17%);
$clr-primary-2: hsl(185, 84%, 25%);
$clr-primary-4: hsl(184, 77%, 34%);
$clr-primary-5: hsl(205, 78%, 60%);
$clr-primary-7: hsl(183, 37%, 61%);
$clr-primary-8: hsl(184, 80%, 74%);
$clr-primary-9: hsl(184, 82%, 85%);

$clr-primary-light: hsl(205, 84%, 74%);

$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-5: hsl(210, 22%, 49%);
$clr-white: #fff;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$max-width: 1170px;

$padding-small: 1.5rem;
$padding-medium: 3.5rem;
$padding-large: 8rem;

$radius: 0.25rem;
$fixed-width: 50rem;
